In [1]:
# print function
print('Hello')

Hello

In [2]:
print('Hello','world' , sep='+')

Hello+world

In [3]:
print('Hello' , end='....' )
print('dear' , end='!')

Hello....dear!

In [4]:
print("The sum of ",3,"and", 4,"is",7)

The sum of  3 and 4 is 7

In [5]:
print("hello","world",end='')
print("goodbye","world")

hello worldgoodbye world

In [6]:
print("hello"+"world",end="\n")

helloworld

# VARIABLE

In [7]:
a123=100
print(a123)

100

In [8]:
_mynum=7.8
print(_mynum)

7.8

In [9]:
student="abc"
subject="maths"
age='18'
marks='85.5'
print(student)
print(subject)
print(age)
print(marks)

abc
maths
18
85.5

In [10]:
Name_of_Student='Ram'
StudentMark=80
StudentAge=18
print(Name_of_Student,StudentMark,StudentAge)

Ram 80 18

In [11]:
x=10
Y=x
x=20
print(Y)

10

In [12]:
# multiple value assign
a=b=c=d=100
print(a)
print(a,b,c,d)

100
100 100 100 100

In [13]:
# bulk variable creation
a,b,c,d=50,100,150,200
print(c)
print(a,b,c,d)

150
50 100 150 200

# DATATYPES

define the type of a variable

    * Numeric:int,float,complex
    * string:str
    * Sequence:list,tuple,range
    * set data type:set,frozenset
    * Mapping:dict
    * boolean:bool

In [14]:
student="abc"
subject="maths"
print(type(student))
print(type(subject))

<class 'str'>
<class 'str'>

NUMERIC Data Type


int holds integers of non-limited length

In [15]:
a=100
print(type(a))

<class 'int'>

floats holds floating precision numbers and its accurateup to 15 decimal places

In [16]:
b=10.98
print(type(b))

<class 'float'>

complex holds complex numbers

In [17]:
c=100+10j
print(type(c))

<class 'complex'>

STRING Data Type

str holds sequence of characters. strings can be represented by either single or double-quotes.

In [18]:
a="string"
b='string'
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

BOOLEAN Type

Boolean - it is with one of the two built-in values,True or False

True and False with capital 'T' and 'F' are valid booleans otherwise python will throw an error

In [19]:
a=True
b=False
# a=true or b=false will give error
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [20]:
x="425"
print(type(x))

<class 'str'>

In [21]:
a=10
b=4.7
a=b
print(type(b))

<class 'float'>

VARIABLE TYPE CASTING

The process of converting given variable data type to another data type is called type conversion.


Two types

1.IMPLICIT TYPE CONVERSION
  
     Python automatically converts one data type to another data type.This process doesn't need ay user involvemnt.
  
2.EXPLICIT YPE CONVERSION

    Python need user involvment to convert the variable data type into certain data type in order to the required operation.
    
    SYNTAX: <required_datatype>(expression)

In [22]:
#Implicit
a=5
b=20.78
c='python'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [23]:
r=a+b
print(r)
print(type(r))

25.78
<class 'float'>

In [24]:
# Explicit
a=5
print(a)
print(type(a))
r=float(a)
print(r)
print(type(r))

5
<class 'int'>
5.0
<class 'float'>

In [25]:
b=13.25
print(b)
print(type(b))
r2=int(b)
print(r2)
print(type(r2))

13.25
<class 'float'>
13
<class 'int'>

In [26]:
c="5"
print(c)
print(type(c))
r3=int(c)
print(r3)
print(type(r3))

5
<class 'str'>
5
<class 'int'>

In [27]:
a=5
b=5.0
print(type(a+b))

<class 'float'>

In [28]:
x="10"
y="20"
z=x+y
print(z)
print(int(z))

1020
1020

In [29]:
x=10.5
y=str(int(x))
print(y)

10

# BASIC ARITHMETICS

In [30]:
# ADDITION
a=10
b=50
c=a+b
print(c)

60

In [31]:
# SUBTRACTION
a=40
b=10
c=a-b
print(c)

30

In [32]:
# MULTIPLICATION
a=15
b=2
c=a*b
print(c)

30

In [33]:
# DIVISION
a=30
b=2
c=a/b
print(c)
# output is float

15.0

In [34]:
# MODULUS ---------Remainder
a=41
b=20
c=a%b
print(c)

1

In [35]:
# EXPONENTIATION
a=2
b=3
# 2 to the power 3
c=a**b
print(c)

8

In [36]:
# FLOOR DIVISION
# always give the output integer
a=30
b=2
c=a//b
print(c)
print(type(c))

15
<class 'int'>

In [37]:
a=30
b=20
# division
d=a/b
# floor division
fd=a//b
print(d)
print(type(d))
print(fd)
print(type(fd))

1.5
<class 'float'>
1
<class 'int'>

ORDER OF PRECEDENCE

1. () Parentheses

2. **Exponent

3. %,*,/,// modulus,multiplication,division and floor division

4. +,- Addition and Subtraction

In [38]:
a=(((2 + 4) / 3) ** 2 + 6 // 3)
print(a)

6.0

In [39]:
a=(((4+5)**2)%10)
print(a)
b=(15*2//2)
print(b)
c=((2+3*(2+4)/8-1)//100)
print(c)

1
15
0.0

# INDEXING AND SLICING

is a way to refer the individual items within an iterable by its position.In other words , we can diractly access your elements of choice within an iterable and do various operations depending on your needs. 

python have 0th indexing and negative indexing start with -1

In [40]:
# Indexing
a='Hello World'
print(a[0])
print(a[4])
print(a[8])

H
o
r

In [41]:
# Negative Indexing
a='Hello World'
print(a[0-11])
print(a[0-1])

H
d

SLICING:
    
Relies on indexing.therefore , slicing only works with sequence types.
    
Slicing is the extraction of a part of a string, list,or tuple.It enable users to access the specific range of elements by mentioning their inndices.
    
    
Syntax:Object[start:stop:step]

"start" specifies the starting index of a slice "stop" specifies the ending element of a slice ,we can use one of these if we wnt to skip certain items.

In [42]:
a='Hello World'
# start index will be included and end index will not be included
print(a[0:5])
print(a[2:9])

Hello
llo Wor

In [43]:
# skipping one element
print(a[0:9:2])

# skipping two element
print(a[0:9:3])

print(a[:])

# default start and go till 8
print(a[:9])

# default end
print(a[0:])

HloWr
HlW
Hello World
Hello Wor
Hello World

In [44]:
# Negative indexing
a='Hello World'
print(a[-11:-6])
print(a[-9:-3])
# skip one
print(a[-9:-3:2])

Hello
llo Wo
loW

In [45]:
# in reverse order
a='Hello World'
print(a[-1:-6:-1])
# complete reverse order
print(a[::-1])

dlroW
dlroW olleH

In [46]:
"Hello"[-1]

'o'

In [47]:
# 
my_string = "Hello World"
print(my_string[6])

W

In [48]:
a="CloudyML Data Science Data Analytics"
print(a[-7:-2:2])

ayi

# STRING OPERATIONS

In [49]:
str1="Hello Learners!!"
str2="Welcome to Python Session"
# string concatenation
str3=str1+str2
print(str3)
str4=str1+" "+str2
print(str4)

Hello Learners!!Welcome to Python Session
Hello Learners!! Welcome to Python Session

we can assign a multiple string to a variable by using three quotes

In [50]:
a="""Hello
Learners!!
Welcome
to Python Session."""
print(a)

Hello
Learners!!
Welcome
to Python Session.

In [51]:
b='''Hello
Learners!!
Welcome
to Python Session.'''
print(b)

Hello
Learners!!
Welcome
to Python Session.

built-in methods

In [52]:
# capitalize:converts the first character of the string to a capital letter
# Casefold : Implements caseless string matching
#  center() : Pad the string with the specified character.
# count() : returns the number of occurrences of a substring in the string.
# encode() : encodes strings with the specified encoded scheme
# endwith() : Returns "True" if a string ends with the given suffix

In [53]:
s1="welcome to python session"
r=s1.capitalize()
print(r)

Welcome to python session

In [54]:
s2="WelcomE To PythoN SessioN"
r2=s2.casefold()
print(r2)

welcome to python session

In [55]:
s3="python"
r3=s3.center(20,"-")
print(r3)

-------python-------

In [56]:
s4="Python is a popular programming language and Python can be used on a server to create web applications."
r4=s4.count("Python")
print(r4)

2

In [57]:
s5="Python is a popular programming language and Python can be used on a server to create web applications."
r5=s5.count("Python")
print(r5)
# 0,1 and 2nd occurance

2

In [58]:
s6="i got {n:.2f} rank"
print(s6.format(n = 3))

i got 3.00 rank

In [59]:
# index: returns the position of the first occurrence of a substring in a string
s7="Python is a popular programming language"
r7=s7.index("Python")
print(r7)
# index 0

0

In [60]:
# isalnum() : checks whether all the characters in a given string is alphanumeric or not
s8="python100"
print(s8.isalnum())
s81="100"
print(s81.isalnum())
s82="python"
print(s82.isalnum())

True
True
True

In [61]:
# isalpha() : returns "True" if all characters in the string are alphabets
s9="python100"
print(s9.isalpha())
s91="100"
print(s91.isalpha())
s92="python"
print(s92.isalpha())

False
False
True

In [62]:
s10="python100"
print(s10.isnumeric())
s101="100"
print(s101.isnumeric())
s102="python"
print(s102.isnumeric())

False
True
False

In [63]:
# isdigit() : returns "True" if all characters int he string are digits
s1="100"
print(s1.isdigit())

True

In [64]:
s2="python"
s3="Python"
print(s2.islower())
print(s3.islower())

True
False

In [65]:
s2="python"
s3="Python"
print(s2.istitle())
print(s3.istitle())

False
True

In [66]:
s2="Python"
s3="PYTHON"
print(s2.isupper())
print(s3.isupper())

False
True

In [67]:
# join:returns the concatenated string
# list
list=['concatenated','string']
print(" ".join(list))
print("-".join(list))

concatenated string
concatenated-string

In [68]:
s2="  Python   "
r=s2.lstrip()
r1=s2.strip()
print(r)
print(s2)
print(r1)

Python
  Python
Python

In [69]:
a="hello World is First Program"
res=a.casefold()
print(res)

hello world is first program

In [70]:
x='hello'
print(x.center(10,'o'))

oohelloooo

In [71]:
var="Format to 2 digits {n:.2f}"
print(var.format(n=20.7811))

Format to 2 digits 20.78

## Taking input and printing output

In [72]:
a=5
print("6 is coming after", a)

6 is coming after 5

In [73]:
name=input("Enter your name:")
print(name)
print("hello",name)

Enter your name:Amrutha
Amrutha
hello Amrutha

In [74]:
num=int(input("Enter number:"))
print(type(num))
sum=num+10
print("sum is ",sum)

Enter number:20
<class 'int'>
sum is  30

In [75]:
str1="Hello Learners"
a,b=str1.split(' ')
print(a)
print(b)

Hello
Learners

In [76]:
a,b,c=map(int,input("enter three number:").split())
print(a)
print(b)
print(c)

enter three number:2 3 4
2
3
4

In [77]:
x,y=input("Enter full name: ").split()
print("first name : ", x)
print("second name : ", y)
print("full name : ", x+" " +y)

Enter full name: Amrutha R
first name :  Amrutha
second name :  R
full name :  Amrutha R

In [78]:
# printing * 10 times
print("*"*10)

**********

In [79]:
name=input("enter the name")
print(f'Hello {name} ! how are you ?')

enter the nameAmrutha
Hello Amrutha ! how are you ?

In [80]:
x=1
y=2
print('the value of x is {} and y is {}' .format(x,y))

the value of x is 1 and y is 2

In [81]:
print('Linear {} is an ML algorithm used for {} learning'.format('Regression','supervised'))

Linear Regression is an ML algorithm used for supervised learning

In [82]:
print('i love {0} and {1}' .format('python','programming'))
print('i love {1} and {0}' .format('python','programming'))

i love python and programming
i love programming and python

In [83]:
print('Hello {name} welcome to {course} programming' . format(name='jhon',course='python'))

Hello jhon welcome to python programming

In [84]:
num=int(input("Please enter number:"))
sum=num+10
print("the sum is %d" %sum)

Please enter number:5
the sum is 15

In [85]:
num=10.987654
print("The value of num is %f " %num)
print("The value of num is %2.2f " %num)
print("The value of num is %2.4f " %num)

The value of num is 10.987654
The value of num is 10.99
The value of num is 10.9877

In [86]:
print("0"*5, end = " ")
print("Hello")

00000 Hello

In [87]:
x=10
y=15
print(f'Two numbers are{y} and {x}')

Two numbers are15 and 10

In [88]:
print("Hello" + "World" , end=" ")
print("Goodbye")

HelloWorld Goodbye

# MATH LIBRARY

Build-in module in the python , it provides standard mathematical constants and functions.

To use mathematical functions have to import the module using IMPORT MATH

In [89]:
import math

Math Constants:

1. math.e : return Euler's number

2. math.inf : returns a floating-point positive     infinity

3. math.nan :  returns a floating-point NaN(Not a Number) value

4. math.pi : return pi(3.14)

5. math.tau : returns (6.2831..)

In [90]:
import math
print(math.e)
print(math.pi)
print(math.tau)

2.718281828459045
3.141592653589793
6.283185307179586

In [91]:
r=int(input(" enter radius:"))
print(r)
pi=math.pi
#area of circle
area=pi*r*r
print(area)

 enter radius:2
2
12.566370614359172

In [92]:
a=21.38

# ceil of 21.38
val1=math.ceil(a)
print("the ceil of 21.38 is :" ,val1)

# flooe of 21.38
val2=math.floor(a)
print("the floor of 21.38 is :" ,val2)

the ceil of 21.38 is : 22
the floor of 21.38 is : 21

In [93]:
f=int(input(" enter number:"))
print(f)
fac=math.factorial(f)
print("factorial of the number is :" , fac)

 enter number:5
5
factorial of the number is : 120

In [94]:
# gcd
a=int(input(" enter the first number:"))
b=int(input(" enter the second number:"))
gcd=math.gcd(b,a)
print("gcd of the two numbers is :", gcd)

 enter the first number:2
 enter the second number:4
gcd of the two numbers is : 2

In [95]:
a=-6.8
b=10

abs_val1=abs(a)
print(abs_val1)
# abs value of 10
abs_val2=abs(b)
print(abs_val2)

6.8
10

In [96]:
pos_int=4
neg_int=-3
float_int=10.987

# exp() values with diff numbers
print(math.exp(pos_int))
print(math.exp(neg_int))
print(math.exp(float_int))

54.598150033144236
0.049787068367863944
59100.81538502816

In [97]:
# log of 4,5
print("log of 4 and 5 is:" ,math.log(4,5))

# log2 of 64
print("log2 of 64 is:" ,math.log2(64))
    
# log10 of 10000
print("log10 of 10000 is:" ,math.log10(10000))

log of 4 and 5 is: 0.8613531161467861
log2 of 64 is: 6.0
log10 of 10000 is: 4.0

In [98]:
# square root of 4
print(math.sqrt(4))

# square root of 144.0
print(math.sqrt(144.0))

2.0
12.0

In [99]:
x=2
print(math.sqrt(x))
print(math.pow(x,0.5))

1.4142135623730951
1.4142135623730951

In [100]:
math.exp(2)

7.38905609893065

In [101]:
print(math.log(100,10))
print(math.cos(math.pi/4))

2.0
0.7071067811865476

# PYTHON OPERATORS

Arithematic Operators:
    
+,-,**,/,***

ASSIGNMENT OPEARATORS

In [102]:
x=5
print(x)

x += 5
# 5+5
print(x)

x -=5
# 8-3
print(x)

x *= 4
# 5*4
print(x)

x/=2
# 20/2
print(x)

x //= 2
# 10/2 get float value bcoz x having float value(10.0)
print(x)

x **=2
print(x)

5
10
5
20
10.0
5.0
25.0

COMPARISON OPERATORS

In [103]:
x=5
y=10
z=15
a=5

print(x>y)
print(x<y)
print(x==z)
print(x==a)
print(x<=y)
print(x>=a)
print(y!=z)

False
True
False
True
True
True
True

and : returns True if both statments are true

or : returns True if one of the statements is true

not : returns false if the result is not true

In [104]:
x=10
y=20

print(x < 15  and  y > 15)
print(x > 15  and  y > 15)

# and
# true,true=true
# true,false=false
# false,true=false
# false,false=false

True
False

In [105]:
x=10
y=20

print(x < 15  or  y > 15)
print(x > 15  or  y > 15)
print(x > 15  or  y < 15)

# or
# true,true=true
# true,false=true
# false,true=true
# false,false=false

True
True
False

In [106]:
# not
print(not(x > 15) or y < 15)

True

IDENTITY OPERATORS

is : returns true if both variable are the same object
    
is  not : returns true if both variables are not the same object

In [107]:
x=5
y=5
z=6

x is y

True

In [108]:
x is not z

True

MEMBERSHIP OPERATORS

IN  : returns true if a sequnence with the specified value is presenet in the object

NOT IN : returns true if  a sequence with the specified value is not present in the object

In [109]:
x = 1
# list
y = [2,3,1]   
x not in y

False

In [110]:
x = 1
# list
y = [2,3,1]   
x in y

True

BITWISE OPERATORS

& AND : Sets each bit to 1 if both bits are 1

| OR : Sets each bit to 1 if one of two bits are 1

^ XOR : Sets each bit to 1 if only one of two bits is 1

~ NOT : inverts all the bits

<< Zero fill left shift: shift left by pushing zeros in from the right and let the leftmost bits fall off
    
'>>' Signed right shift : shift right by pushing coples of the leftmost bit in from the left, and let the rightmost bits fall off

In [111]:
x=2 #10
y=3 #11

# 10
# 11
# ---
# 10 --2

print(x&y)

2

In [112]:
x=2 #10
y=3 #11
print(x|y)
print(x^y)
print(~y)

3
1
-4

In [113]:
x=4
y=3
print(x>>1)
print(y<<1)

2
6