# Control Statements

IF Statement

In [3]:
a=10
if (a<20):
    print('a is less than 20')

a is less then 20

IF-ELSE Statement

In [6]:
a=10
if (a<20):
    print('a is less than 20')
else :
    print('a is greter than 20')

a is less than 20

In [1]:
a=100
if (a<20):
    print('a is less than 20')
else :
    print('a is greter than 20')

a is greter than 20

In [3]:
a=10
b=20

if(a>5 and b<30):
    print('inside if statement')

inside if statement

In [2]:
a=int(input("Enter the number:"))
print(type(a))
# a=40
if(a%2==0):
    print('a is even number')
else:
    print('a is odd number')

Enter the number:20
<class 'int'>
a is even number

IF-ELIF-ELSE Statement

In [6]:
m=int(input("enter the marks: "))
if(m>=90 and m<= 100):
    print("A")
elif(m>=80 and m<= 89):
    print("B")
elif (m>=70 and m<= 79):
    print("C")
elif (m>=60 and m<= 69):
    print("D")
else:
# elif (m>=0 and m<= 59):
    print("F")

enter the marks: 35
F

Nested IF-ELSE Statement

In [10]:
m=int(input("enter the marks: "))
if(m >=0 and m<=30):
    if(m>=15):
        print("pass")
    else:
        print("fail")   
elif(m>=31 and m<=60):
    if(m>=50):
        print("above avg")
    else:
        print("below avg")
elif(m>=61 and m<=100):
    if(m>=80):
        print("very good")
    else:
        print("good")

enter the marks: 95
very good

In [12]:
# short hand method
a=20
b=10

print("a") if (a>=b) else print("b")

a

In [13]:
x=15
if(x<10):
    print("x is less than 10")
elif(x>20):
    print("x greater than 20")
else:
    print("x is between 10 and 20")

x is between 10 and 20

In [19]:
x=5
if(x>10):
    print("x is greater than 10")
elif(x==5):
    print("x is 5")
else:
    print("x is neither greater than 10 nor 5")

x is 5

In [15]:
a=5
b=10
c=15

if(a<b):
    if(b<c):
        print("c is greater")
    else:
        print("b is greater")       
else:
        print("a is greater")

c is greater

In [16]:
a=10
b=5
c=20

if (a>b and a>c):
    print("a is the largest number")
elif(b>a and b>c):
    print("b is the largest number")
else:
    print("c is the largest number")

c is the largest number

# Python Statement

<b> Statement</b>

Instructions written in the source code for execution are called statements.

A logical statement is a logical expresssion where operators compare, evaluate, or check if the input meets the conditions.

Multi-Line Statements in pyhton can be extended to one or more  lines using parenthesis(),braces{},square brackets[],semi-colon:,continuation character slash(\).When we do long calculations into one line , then one cam make use of these characters.

In [24]:
# using continuation character(\)
sum1=1+2+3+4+\
    5+6+7+\
    8+9

# using parenthesis ():
sum2=(1+2+3
     +4+5+6+
     7+8+9)

# using square brackets []:
sum3=[1++2+3
     +4+5+6+
     7+8+9]

# using square braces{}:
sum4={1++2+3
     +4+5+6+
     7+8+9}

print(sum1)
print(sum2)
print(sum3)
print(sum4)

45
45
[45]
{45}

In [25]:
# Intendation
if(10>5):
    print("Hello")
    if(5>2):
        print("World")
print("Python")

Hello
World
Python

# LOOPS

1. While loop
2. For loop
3. Loop Control Statement
4. Nested Loop

<b> While Loop </b>

syntax:

while:
{code block}

In [28]:
i=0
while(i<100):
    print(i)
    i=i+10

0
10
20
30
40
50
60
70
80
90

In [29]:
num=100
i=0
while(i<3):
    num=num+100
    print(num)
    i=i+1

200
300
400

In [38]:
num=100
i=10
while(i>0):
    num=num+100
    print(num)
    i=i-1

200
300
400
500
600
700
800
900
1000
1100

<b> for loop </b>

syntax:

for value in sequence:
{ code block }


range(starting point,ending point,interval(bydefault 1))

<b> if ending point is n range will go till  n-1 </b>

In [33]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [31]:
num=100
for i in range(0,10):
    num=num+100
    print(i)
    print(num)

0
200
1
300
2
400
3
500
4
600
5
700
6
800
7
900
8
1000
9
1100

<b> Loop Control Statement </b>

. Break: to terminate a loop immediately and resume execution   after the loop

. Continue: to skip the current iteration of a loop and move to the next iteration

. Pass

In [45]:
# Break
num=100
for i in range(0,11):
    num=num+100
    print(num)
    if(i==5):
#         --200 --to --700
#     if(num==500): 
#         ---200,300,400,500
        break

200
300
400
500
600
700

In [46]:
# Continue

num=100
for i in range(0,11):
    num=num+100
    print(num)
    if(i==5):
#         --200 --to --700
#     if(num==500): 
#         ---200,300,400,500
        continue

200
300
400
500
600
700
800
900
1000
1100
1200

In [47]:
# continue
fruits = ["a","b","c","d","e"]
for x in fruits:
  if x == "b":
    continue
  print(x)

a
c
d
e

In [49]:
# pass
# placeholder
num=100
for i in range(1,10):
    pass
print(i)

9

<b> Nested Loop </b>

In [50]:
# for iterator_var in sequnce:
#     for iterator_var in sequnce:
#         statement(s)
#         statement(s)

In [51]:
# while expression:
#     while expression:
#         statement(s)
#         statement(s)

In [55]:
j=20
for i in range(1,10,2):
    if j in range(10,1,-2):
        print("i :" ,i)
        print("j :" , j)

In [59]:
adj = ["a", "b", "c"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print("x :", x)
    print("y :",y)

x : a
y : apple
x : a
y : banana
x : a
y : cherry
x : b
y : apple
x : b
y : banana
x : b
y : cherry
x : c
y : apple
x : c
y : banana
x : c
y : cherry

In [62]:
num=5
while(num>0):
    print(num,end="")
    num-=2
else:
    print("Loop Finished")

531Loop Finished

In [63]:
for i in range(1,5):
    print(i,end="")
    if(i==2):
        break
    else:
        print("Loop Finished")

1Loop Finished
2

In [65]:
num_list=[1,2,3,4,5]
for num in num_list:
    if(num==3):
        continue
    print(num,end="")

1245

# PROBLEM STATEMENTS

<b> 1. Given a list of numbers , find whether a given number is present in the list.

In [70]:
list = [1,2,3,4,5,6]
# given the number to be fount out
n=2
if n in list:
        print("n is present in the list")
print("end")

n is present in the list
end

<b> 2.Given a list of numbers , print the sum of all positive numbers </b>

In [76]:
list = [1,2,-3,4,-5,6]
sum_positive = 0
for n in list:
    if(n>=0):
        sum_positive = sum_positive +n

print(f'"sum of positive numbers:" {sum_positive}')

"sum of positive numbers:" 13

<b> 3. Multiplication Table </b>

In [77]:
n=int(input("enter the number"))
for i in range(1,11):
#     n=n*i
    
    print('{}*{}={}'.format(n,i,n*i))

enter the number6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

<b> 4. While loop statement to print the following series

105,98,91,...........7 </b>

In [79]:
n=105
# diff is 7
while (n>=7):
    print(n)
    n=n-7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

<b> 5. sum of digits </b>

In [5]:
num = int(input("entr the number"))
sum = 0

while num!=0:
    digit = int(num%10)
    sum += digit
    num = num/10

print(sum)

entr the number234
9

# FUNCTIONS

A function is a set of code that performs any given task, enabling the programmer to modularize a program. All avriablescreated in function definitions are local variables;they are known only to the function in which they are declared.

Craete and call a Function:
    
    create a function by using the def keyword.
    
syntax: def name(argumnets):
        
        statement
        
        return value
        
        
        
The def keyword only creates and defines a function .To call the function , use the function name , followed by parenthesis.

In [10]:
def fun():
    print("function starting")
#     calling function
fun()

function starting

<b> arguments </b> in python 

we can send information to a function by passing values, which are known as arguments or parameters.They are mentioned after the function name inside the parenthesis.

In [11]:
def fun(name,place):
    print(f"Hello {name} ! are you from {place}?")
    
fun("priya" , "goa")

Hello priya ! are you from goa?

Types of arguments

1. Default Arguments

Functions can be defined with  default arguments. I the values for the arguments are not supplied when the function is called, the default argument is used.

default arguments be of any data type in python

In [15]:
# a function of total bill in a restaurant with default tip 10%

def total_bill(bill, tip=0.10):
    net_bill = bill+bill*tip
    return net_bill

total_bill(5000)

5500.0

In [16]:
total_bill(5000,0.20)

6000.0

2. Arbitrary Arguments

used when you want the function to take an unlimited number of argumnets.When you add an asterisk (*).it will receive a tuple of argumnets.

In [18]:
def my_var_sum(*args):
    sum=0
    for arg in args:
        sum+=arg
    return sum

In [19]:
my_var_sum(10,10,10,10,10)

50

Nested Function

Nested Function is a function that is  defined inside another function -it is called an inner function . One of the main reasons to use nested functions is to prevent the data or functionality from being accessed by other part of the code.

In [24]:
def greeting(first, last):
    def getfullname():
        return first + " " + last
    print("Hi ," + getfullname() + "!")

greeting('sai','sneha')

Hi ,sai sneha!

# TOP 5 PYTHON FUNCTIONS

Lambda or Anonymous Function

lambdax:x+1

In [25]:
def oddeven(x):
    if(x%2)==0:
        return "even"
    else:
        return "odd"

In [26]:
oddeven(40)

'even'

In [28]:
# lambda function
oddEvenResult = lambda x: "even" if x%2==0 else "odd"
oddEvenResult(11)

'odd'

<b> MAP </b>

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

map(function, iterables)

In [30]:
map(oddeven,[1,2,3,4,5,6])

# it will return a object , so need to wrap this inside a iterable object

In [31]:
list(map(oddeven,[1,2,3,4,5,6]))

['odd', 'even', 'odd', 'even', 'odd', 'even']

In [35]:
tuple(map(oddEvenResult,[10,11,12,13,14,15,16]))

('even', 'odd', 'even', 'odd', 'even', 'odd', 'even')

<b> FILTER </b>

The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

filter(function, iterable)

In [41]:
def canIvote(age):
    if(age>=18):
        return True
    else:
        return False

In [42]:
ages=[12,30,45,18,4]

list(filter(canIvote,ages))

[30, 45, 18]

<b> zip() </b>

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

returns an iterator that aggregates elements from two or morw iterable

zip(iterator1, iterator2, iterator3 ...)

In [47]:
Name = ['a','b','c']
num = [1,2,3]

list(zip(Name , num))

[('a', 1), ('b', 2), ('c', 3)]

In [48]:
for Name, num in list(zip(Name, num)):
    print(Name, '--------->' , num)

a ---------> 1
b ---------> 2
c ---------> 3

<b> reduce() </b>

reduce() works differently than map() and filter(). It does not return a new list based on the function and iterable we've passed. Instead, it returns a single value.

Also, in Python 3 reduce() isn't a built-in function anymore, and it can be found in the functools module.


reduce(function, sequence[, initial])

In [50]:
from functools import reduce

scores = [60, 70,80,90,95]

reduce(lambda x, y:x+y, scores )

# x=60 and y=70 -->130
# [130,80,90,95]
# x=130 and y=80 -->210
# [210,90,95]
# x=210 and y=90 -->300
# [300,95]
# x=300 and y=95 -->395

395

In [51]:
reduce(lambda x, y:x-y, scores )

-275

In [52]:
def double(x):
    return x*2
lst = [1,2,3,4]
result = map(double,lst)
print(list(result))

[2, 4, 6, 8]

# TUPLE

Collection of python Objects.Tubles are <b> immutable  </b> in nature.i.e, elements in the tuple can't be added or remove once it created.Contain elements from various types and contain duplicates.

Tubles can created with single elements, but its tricky.Having one element in the parathesis is not sufficient there must be a trailing 'comma' to make it tuple.

In [3]:
tuple=('hello',4,5,9,10)
tuple

('hello', 4, 5, 9, 10)

In [4]:
print(type(tuple))

<class 'tuple'>

In [6]:
tuple1=(1)
print(type(tuple1))
tuple2=(1,)
print(type(tuple2))

<class 'int'>
<class 'tuple'>

In [21]:
tuple123=('hello',4,5,9,10)
tuple123[1]

4

# SET

Unordered collection of data thet is mutable and does not allow any duplicate element.

In [25]:
set1={'apple','mango','123','50.67', 'A'}
set1

{'123', '50.67', 'A', 'apple', 'mango'}

In [26]:
print(type(set1))

<class 'set'>

In [27]:
print(len(set1))

5

In [29]:
for i in set1:
    print(i)

123
mango
apple
A
50.67

In [30]:
set1.add('newset')
print(set1)

{'123', 'mango', 'newset', 'apple', 'A', '50.67'}

In [31]:
set1.discard('mango')
print(set1)

{'123', 'newset', 'apple', 'A', '50.67'}

In [32]:
set1.remove('A')
print(set1)

{'123', 'newset', 'apple', '50.67'}

In [34]:
set1.pop()
print(set1)

{'newset', 'apple', '50.67'}

In [35]:
set1.clear()
set1

set()

In [36]:
set2={'1','2','3','4','5','5','5','5','123','50.67', 'A'}
set2

{'1', '123', '2', '3', '4', '5', '50.67', 'A'}

In [37]:
set2.update(['7','8','9','56'])
set2

{'1', '123', '2', '3', '4', '5', '50.67', '56', '7', '8', '9', 'A'}

In [39]:
set3={'4','5','6','7'}
set4=set3.copy()
print(set3)
print(set4)

{'4', '5', '6', '7'}
{'4', '5', '6', '7'}

In [42]:
var=['mo','tu','we']
print(type(var))
var1=set(['mo','tu','we'])
print(type(var1))

<class 'list'>
<class 'set'>

<b>UNION </b>

In [46]:
# combine both the sets without duplication
day1=set(['mon','tue','wed','sun'])
day2=set(['thu','fri','sat','sun'])
print(type(day1))
print(type(day1))
Union_opr=day1.union(day2)
print(Union_opr)

# using pipe symbol
Union_opr1=day1|day2
print(Union_opr1)

<class 'set'>
<class 'set'>
{'wed', 'mon', 'tue', 'sat', 'fri', 'thu', 'sun'}
{'wed', 'mon', 'tue', 'sat', 'fri', 'thu', 'sun'}

<b> INTERSECTION </b>

In [48]:
# Printing the data which are common in both the set
inersection_opr=day1.intersection(day2)
print(inersection_opr)

{'sun'}

In [49]:
# using symbol
Union_opr1=day1&day2
print(Union_opr1)

{'sun'}

<b> DIFFERENCE </b>

In [ ]:
# A-B, day1-day2
diff1_opr=day1.difference(day2)
print(diff1_opr)

# day2-day1
diff2_opr=day2.difference(day1)
print(diff2_opr)

In [55]:
# using symbol
diff1_opr=day1-day2
print(diff1_opr)

# day2-day1
diff2_opr=day2-day1
print(diff2_opr)

{'mon', 'tue', 'wed'}
{'thu', 'sat', 'fri'}

<b> Symmetric Differnce </b>

In [57]:
sym_diff_opr=day1.symmetric_difference(day2)
print(sym_diff_opr)

{'wed', 'mon', 'tue', 'sat', 'fri', 'thu'}

In [59]:
myset={1,2,3}
myset.add(4)
myset.remove(2)
print(myset)

{1, 3, 4}

In [60]:
a={1,2,3,4}
b={3,4,5,6}
c=a&b
print(c)

{3, 4}

In [63]:
myset1={1,2,3,4}
r=myset1.pop()
print(r)

1

# DICTIONARY

Collection of key values, used to store data values like a map, which unlike other data types which hold only a single value as an element.
Unordered, unique,Mutable


D={

    <key> : <value>,
    <key> : <value>,
    
    
    <key> : <value>


}

In [68]:
d={'name':'ann',
   'place':'pune',
   'marks':89.5,
   'age':24,
   "year":'2022',
   'subject':['maths','cs','English']
   
  }
print(d)
print(type(d))
print(d['place'])
print(d['subject'])

{'name': 'ann', 'place': 'pune', 'marks': 89.5, 'age': 24, 'year': '2022', 'subject': ['maths', 'cs', 'English']}
<class 'dict'>
pune
['maths', 'cs', 'English']

In [70]:
# key value pair
print(d.items())
# only keys
print(d.keys())
# only values
print(d.values())

dict_items([('name', 'ann'), ('place', 'pune'), ('marks', 89.5), ('age', 24), ('year', '2022'), ('subject', ['maths', 'cs', 'English'])])
dict_keys(['name', 'place', 'marks', 'age', 'year', 'subject'])
dict_values(['ann', 'pune', 89.5, 24, '2022', ['maths', 'cs', 'English']])

In [72]:
d2={
    'a':1,
    'b':2,
    'c':3
}
print(type(d2))

<class 'dict'>

In [73]:
def function(n):
    if(n==0):
        return 1
    return n * function(n-1)
print(function(4))

24

In [74]:
def function(a,b):
    if b==0:
        return a
    else:
        return function(b,a%b)
    
print(function(60,48))

12